.main-poster{

    &__content{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 56px;

        img{
            max-width: 1024px;
            max-height: 640px;
            border-radius: 32px;

            @media (max-width:768px){
                width: 90%;
            }
        }
    }

}